<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kpkforestdeptcdegad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KPKForestDeptCDEGAD"
        android:usesCleartextTraffic="true">
        <activity android:name=".CD.WaterSourceDevelopmentScheme.ViewWaterSourceDevelopmentSchemeActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"></activity>
        <activity
            android:name=".CD.WaterSourceDevelopmentScheme.WaterSoruceDevelopmentSchemeActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".user.Profile.UpdateProfileActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <receiver android:name=".BroadCast.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".GAD.OtherActivityMainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".GAD.FarmAgroForestryMainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".GAD.GADMassPlantingEventMainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".GAD.YouthWemonNurseryActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".GAD.WemonOrganizationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.WaterHarvestingScheme.View_WaterHarvestingScheme_DataActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.Enclosure.View_Enclosure_DataActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.JFMC.JFMC_View_DataActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.FormForestry.View_FormForestry_DataActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.VDC.View_VDC_DataActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.WaterHarvestingScheme.WaterHarvestingSchemesActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.VDC.VDC_Activity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Extension.ExtensionMaterialPreparedActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Extension.CelebrationOfEnvironmentalPlantingActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Extension.ExtensionActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".GAD.GADActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.JFMC.JFMCActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.FormForestry.FormForestryActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".HR.HRActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Extension.MassPlantingEventActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.Enclosure.EnclosureActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".CD.CD_Activity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".Dashboard.DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".user.EmailVerificationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".user.RegistrationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".user.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>